@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max: 1000px;
  --accent: #227644;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}



body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #222;
}
.container {
  max-width: var(--max);
  margin: 0 auto;
  padding: 8px;
}

.container a{
  color: white;
}

.container a img{
  height: 60px;
  width: 60px;
  border-radius: 12px;
}

.site-header {
  background: #19183B;
  color: white;
  border-bottom: 1px solid #3a5270;
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.brand {
  font-weight: 700;
  text-decoration: none;
  color: var(--accent);
}
nav a {
  margin-left: 12px;
  text-decoration: none;
  color: white;
}
nav a:hover{
  text-decoration: underline;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.post-card {
  padding: 16px;
  border: 1px solid #5a88b8;
  border-radius: 8px;
  background: #A1C2BD;
  color: black;
}  

.content{
  height: 400px;
  overflow-y: auto;
}

.post-card h2 {
  margin: 0 0 8px;
}
.meta {
  font-size: 0.9em;
  color: #45955a;
}
.excerpt {
  color: #22462b;
}
.read-more {
  display: inline-block;
  margin-top: 8px;
}
.form label {
  display: block;
  margin-bottom: 10px;
}
.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #bad3f1;
  border-radius: 6px;
}
.button,
button {
  background: var(--accent);
  color: #f8f1f1;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}
.md-preview {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px dashed #5a88b8;
  border-radius: 6px;
  background: #A1C2BD;
  color: black;
}

#preview{
  height: 100px;
  overflow-y: auto;
}

.site-footer {
  width: 100%;
  background: #222;
  border-top: 1px solid #7fa4d4;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  height: 50px;
}
.errors {
  background: #ffe9e9;
  padding: 10px;
  border: 1px solid #f5c2c2;
  border-radius: 6px;
  color: #7b0a0a;
}
.single-post .content {
  padding: 12px;
  border: 1px solid #e6eef8;
  border-radius: 6px;
  margin-top: 12px;
  background: #A1C2BD;
  color: black;
}
.actions {
  margin-top: 12px;
}
.btn {
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin-right: 8px;
  color: black;
}
.btn.danger {
  background: #f87171;
  color: #fff;
  border: none;
}
@media (max-width: 600px) {
  .site-header .container {
    flex-direction: column;
    gap: 8px;
  }
  .posts {
    grid-template-columns: 1fr;
  }
}
